::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

html {
  box-sizing: border-box;
  background: #16191b;
  background-size: cover;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 20px;
  margin: 0;
}

h1 {
  color: #e2e6e8;
}

.items {
  height: 800px;
  padding: 100px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  position: relative;
  font-size: 0;
  perspective: 500px;
}

.items.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.item {
  width: 200px;
  height: calc(100% - 40px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-weight: 100;
  background: #e2e6e8;
  color: #16191b;
  box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.15);
}

.item:nth-child(even) {
  transform: scaleX(1.05) rotateY(20deg);
}
.item:nth-child(odd) {
  transform: scaleX(1.05) rotateY(-20deg);
}
