@import "https://fonts.googleapis.com/css?family=Roboto+Mono:300";
html,
body {
  font-family: "Roboto Mono", monospace;
  background: #16191b;
  height: 100%;
}
.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.text {
  font-weight: 400;
  font-size: 32px;
  color: #e2e6e8;
}
.sym {
  color: #858585;
}
